{
    "DATABASE": {
        "PASSWORD": "password",
        "USERNAME": "username"
    },
    "MAILGUN": {
        "DOMAIN_NAME": "",
        "API_KEY": "",
        "PASSWORD": ""
    },
    "SENDGRID": {
        "DOMAIN_NAME": "",
        "API_KEY": "",
        "PASSWORD": ""
    },
    "RECAPTCHA": "recaptcha",
    "SESSION": {
      "SECRET": "secret"
    }
}
